<div class="h-[400px] bg-slate-300 px-2 w-full rounded-md shadow-md flex flex-col-reverse items-end justify-start">
  <!-- Adaugat clasa flex-col-reverse pentru a inversa ordinea mesajelor -->
  <div class="w-[300px] overflow-y-auto">
    <ng-container *ngFor="let message of messages$ | async">
      <div class="flex flex-col" *ngIf="message.senderId === userId">
        <div class="ml-2 flex justify-end items-start">
          <div *ngIf="edit === true && message.id === thisIdEdit" class="mt-2">
            <mat-form-field [style.width.px]=120>
              <input matInput placeholder="{{ message.message }}" [(ngModel)]="newMessage">
            </mat-form-field>
            <button mat-icon-button color="warn"
              (click)="removeMessage(message.id)"><mat-icon>delete</mat-icon></button>
            <button mat-icon-button color="primary"
              (click)="updateMessage(message.id, newMessage)"><mat-icon>edit</mat-icon></button>
          </div>
          <div *ngIf="!edit" class="w-[100px]">
            <p class="m-2 break-words self-end bg-blue-200 rounded-lg p-2 max-w-xs">{{ message.message }}</p>
            <button mat-icon-button color="warn"
              (click)="removeMessage(message.id)"><mat-icon>delete</mat-icon></button>
            <button mat-icon-button color="primary"
              (click)="updateMessage(message.id, newMessage)"><mat-icon>edit</mat-icon></button>
          </div>
        </div>
      </div>
      <div class="flex flex-col " *ngIf="message.senderId !== userId">
        <div class="ml-2 flex justify-start items-start w-[100px]">
          <p class="m-2 break-words self-start bg-gray-200 rounded-lg p-2 max-w-xs">{{ message.message }}</p>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<div class="flex justify-between w-full">
  <div class="flex justify-between w-full">
    <mat-form-field class="w-full">
      <mat-label>Insert Your Message</mat-label>
      <input matInput placeholder="Insert Your Message" [formControl]="messageForm">
    </mat-form-field>
    <button mat-fab color="primary" class="w-full mb-2 ml-2 text-center" (click)="sendMessage()">Send</button>
  </div>
</div>
